.movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-bottom: 20px;
}

.boxMovie {
    margin: 20px;
    padding: 2%;
    width : 350px;
    border: 1px solid black;
}

.rated {
    border-bottom: 1px solid black;
}